<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>Layouts</title>
</head>
<body>
    <div class="cotainer">
        <div class="title is-2 has-text-centered">
            <p>Different Grid Views</p>
        </div>
        <div class="block has-text-centered p-3">
        <a href="layout-1.html" class="button is-outlined is-success">layout-1</a>
        <br>
        <br>
        <a href="layout-2.html" class="button is-outlined is-success">layout-2</a>
        <br>
        <br>
        <a href="layout-3.html" class="button is-outlined is-success">layout-3</a>
        <br>
        <br>
        <a href="layout-4.html" class="button is-outlined is-success">layout-4</a>
        <br>
        <br>
        <a href="layout-5.html" class="button is-outlined is-success">layout-5</a>
        <br>
        <br>
        <a href="layout-6.html" class="button is-outlined is-success">layout-6</a>
        <br>
        <br>
        <a href="layout-7.html" class="button is-outlined is-success">layout-7</a>
        <br>
        <br>
        <a href="layout-8.html" class="button is-outlined is-success">layout-8</a>
        <br>
        <br>
        <a href="layout-9.html" class="button is-outlined is-success">layout-9</a>
        <br>
        <br>
        <a href="layout-10.html" class="button is-outlined is-success">layout-10</a>
        <br>
        <br>
        <a href="layout-11.html" class="button is-outlined is-success">layout-11</a>
        <br>
        <br>
        <a href="layout-12.html" class="button is-outlined is-success">layout-12</a>
        <br>
        <br>
        <a href="layout-13.html" class="button is-outlined is-success">layout-13</a>
        <br>
        <br>
        <a href="../" class="button is-outlined is-danger">Home Page</a>
        <br>
        </div>
    </div>
    
</body>
</html>