<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>Layout-3</title>
</head>
<body>
    <!-- HEADER -->
    <div class="block title has-text-centered">
        <p>Layout-3</p>
    </div>
    <!-- MAIN -->
    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <p class="notification is-primary">1</p>
            </div>
            <div class="column is-2">
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">2</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">3</p>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">4</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">5</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">6</p>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">7</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">8</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">9</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">10</p>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">11</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">12</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">13</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">14</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">15</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">16</p>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">17</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">18</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">19</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">20</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">21</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">22</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">23</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">24</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">25</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">26</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">27</p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">28</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>