<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>Layout-10</title>
</head>
<body>
    <div class="block title has-text-centered">
        <p>Layout-10</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <p class="notification is-primary">Nav</p>
            </div>
            <div class="column is-9">
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">
                            Header
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">
                            Article
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">
                            Ads
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-primary">
                            Header
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>