<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>layout-3</title>
</head>
<body>
    <!-- HEADER -->
    <div class="block title has-text-centered">
        <p>Layout-3</p>
    </div>
    <!-- MAIN -->
    <div class="block p-3">
        <div class="columns has-text-centered">
            <div class="column is-2">
                <p class="notification is-danger">1</p>
            </div>
            <div class="column is-2">
                <p class="notification is-danger">2</p>
                <div class="columns has-text-centered">
                    <div class="column is-full">
                        <p class="notification is-danger">3</p>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <p class="notification is-danger">4</p>
                <div class="columns has-text-centered">
                    <div class="column is-full">
                        <p class="notification is-danger">5</p>
                        <div class="columns has-text-centered">
                            <div class="column is-full">
                                <p class="notification is-danger">6</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <p class="notification is-danger">7</p>
                <div class="columns has-text-centered">
                    <div class="column is-full">
                        <p class="notification is-danger">8</p>
                        <div class="columns has-text-centered">
                            <div class="column is-full">
                                <p class="notification is-danger">9</p>
                                <div class="columns has-text-centered">
                                    <div class="column is-full">
                                        <p class="notification is-danger">10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <p class="notification is-danger">11</p>
                <div class="columns has-text-centered">
                    <div class="column is-full">
                        <p class="notification is-danger">12</p>
                        <div class="columns has-text-centered">
                            <div class="column is-full">
                                <p class="notification is-danger">13</p>
                                <div class="columns has-text-centered">
                                    <div class="column is-full">
                                        <p class="notification is-danger">14</p>
                                        <div class="columns has-text-centered">
                                            <div class="column is-full">
                                                <p class="notification is-danger">15</p>
                                                <div class="columns has-text-centered">
                                                    <div class="column is-full">
                                                        <p class="notification is-danger">16</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-2">
                <p class="notification is-danger">17</p>
                <div class="columns has-text-centered">
                    <div class="column is-full">
                        <p class="notification is-danger">18</p>
                        <div class="columns has-text-centered">
                            <div class="column is-full">
                                <p class="notification is-danger">19</p>
                                <div class="columns has-text-centered">
                                    <div class="column is-full">
                                        <p class="notification is-danger">20</p>
                                        <div class="columns has-text-centered">
                                            <div class="column is-full">
                                                <p class="notification is-danger">21</p>
                                                <div class="columns has-text-centered">
                                                    <div class="column is-full">
                                                        <p class="notification is-danger">22</p>
                                                        <div class="columns has-text-centered">
                                                            <div class="column is-full">
                                                                <p class="notification is-danger">23</p>
                                                                <div class="columns has-text-centered">
                                                                    <div class="column is-full">
                                                                        <p class="notification is-danger">24</p>
                                                                        <div class="columns has-text-centered">
                                                                            <div class="column is-full">
                                                                                <p class="notification is-danger">25</p>
                                                                                <div class="columns has-text-centered">
                                                                                    <div class="column is-full">
                                                                                        <p class="notification is-danger">26</p>
                                                                                        <div class="columns has-text-centered">
                                                                                            <div class="column is-full">
                                                                                                <p class="notification is-danger">27</p>
                                                                                                <div class="columns has-text-centered">
                                                                                                    <div class="column is-full">
                                                                                                        <p class="notification is-danger">28</p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>