<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>Layout-2</title>
</head>
<body>
    <div class="block title has-text-centered">
        <p>Layout-2</p>
    </div>
    <div class="container">
        <!-- column-1 -->
        <div class="columns has-text-centered">
            <div class="column is-1">
                <p class="notification is-info">1</p>
            </div>
            <div class="column is-11">
                <p class="notification is-info">2</p>
            </div>
        </div>
        <!-- column-2 -->
        <div class="columns has-text-centered">
            <div class="column is-2">
                <p class="notification is-info">3</p>
            </div>
            <div class="column is-10">
                <p class="notification is-info">4</p>
            </div>
        </div>
        <!-- column-3 -->
        <div class="columns has-text-centered">
            <div class="column is-3">
                <p class="notification is-info">5</p>
            </div>
            <div class="column is-9">
                <p class="notification is-info">6</p>
            </div>
        </div>        
        <!-- column-4 -->
        <div class="columns has-text-centered">
            <div class="column is-4">
                <p class="notification is-info">7</p>
            </div>
            <div class="column is-8">
                <p class="notification is-info">8</p>
            </div>
        </div>
        <!-- column-5 -->
        <div class="columns has-text-centered">
            <div class="column is-5">
                <p class="notification is-info">9</p>
            </div>
            <div class="column is-7">
                <p class="notification is-info">10</p>
            </div>
        </div>
        <!-- column-6 -->
        <div class="columns has-text-centered">
            <div class="column is-6">
                <p class="notification is-info">11</p>
            </div>
            <div class="column is-6">
                <p class="notification is-info">12</p>
            </div>
        </div>
        <!-- column-7 -->
        <div class="columns has-text-centered">
            <div class="column is-7">
                <p class="notification is-info">13</p>
            </div>
            <div class="column is-5">
                <p class="notification is-info">14</p>
            </div>
        </div>
        <!-- column-8 -->
        <div class="columns has-text-centered">
            <div class="column is-8">
                <p class="notification is-info">15</p>
            </div>
            <div class="column is-4">
                <p class="notification is-info">16</p>
            </div>
        </div>
        <!-- column-9 -->
        <div class="columns has-text-centered">
            <div class="column is-9">
                <p class="notification is-info">17</p>
            </div>
            <div class="column is-3">
                <p class="notification is-info">18</p>
            </div>
        </div>
        <!-- column-10 -->
        <div class="columns has-text-centered">
            <div class="column is-10">
                <p class="notification is-info">19</p>
            </div>
            <div class="column is-2">
                <p class="notification is-info">20</p>
            </div>
        </div>
        <!-- column-12 -->
        <div class="columns has-text-centered">
            <div class="column is-11">
                <p class="notification is-info">21</p>
            </div>
            <div class="column is-1">
                <p class="notification is-info">22</p>
            </div>
        </div>
    </div>
</body>
</html>