<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>Layout-17</title>
</head>
<body>
    <div class="block title has-text-centered">
        <p>Layout-17</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="notification is-primary">1</p>
            </div>
            <div class="column">
                <p class="notification is-primary">2</p>
            </div>
            <div class="column">
                <p class="notification is-primary">3</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="notification is-primary">4</p>
            </div>
            <div class="column">
                <p class="notification is-primary">5</p>
            </div>
            <div class="column">
                <p class="notification is-primary">6</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="notification is-primary">7</p>
            </div>
            <div class="column">
                <p class="notification is-primary">8</p>
            </div>
            <div class="column">
                <p class="notification is-primary">9</p>
            </div>
        </div>
    </div>
</body>
</html>