<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <title>Layout-14</title>
</head>
<body>
    <div class="block title has-text-centered">
        <p>Layout-14</p>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <p class="notification is-warning">
                    1
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3">
                <p class="notification is-warning">
                    2
                </p>
            </div>
            <div class="column is-9">
                <div class="columns">
                    <div class="column is-4">
                        <p class="notification is-warning">
                            3
                        </p>
                    </div>
                    <div class="column is-8">
                        <p class="notification is-warning">
                            4
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-8">
                        <p class="notification is-warning">
                            5
                        </p>
                    </div>
                    <div class="column is-4">
                        <p class="notification is-warning">
                            6
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p class="notification is-warning">
                            7
                        </p>
                    </div>
                    <div class="column">
                        <p class="notification is-warning">
                            8
                        </p>
                    </div>
                    <div class="column">
                        <p class="notification is-warning">
                            9
                        </p>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-full">
                        <p class="notification is-warning">
                            10
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>